/*
	Document	: Portfolio Filter
	Type		: Cascading Style Sheet (CSS)
	Author		: A.T.M ShamiulBashir
	Website		: http://shamiulbashir.github.io
	Description	: © 2021 A.T.M ShamiulBashir.
*/



@charset"UTF-8";

/* Button Container */
.portfolio-filter-btn-container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio-filter-btn-container .btn {
    background-color: #fff;
    color: #2c3e50;
    background-image: unset;
}

.portfolio-filter-btn-container .btn.active {
    background-color: #666;
    color: white;
}


/* Item */
.portfolio-filter-item {
    display: none; /* Hide all elements by default */
}

.show {
    display: block;
}
